.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-background {
  background-color: #282c34;
  min-height: 100vh;
}

.App-link {
  color: #09d3ac;
}

.Spaced {
  padding: 10px;
}

.Modal {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
